.footer{
    &__top{
        width: 100%;
        background-color: #000;
        &--hero{
            display: flex;
            align-items: center;
            padding: 12px 0;
        }
        &--email{
            margin: auto;
        }
        &--input{
            padding: 8px 270px 8px 16px;
            outline: none;
            background: #534e4e;
            border: none;
            &::placeholder{
                color: #fff;
            }
        }
        &--btn{
            padding: 6px 12px;
            margin-left: 10px;
            background-color: transparent;
            border: 1px solid #fff;
            color: #fff;
        }
        &--icons{
            margin-left: auto;
        }
        &--logo{
            align-items: center;
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
            color: #ffffff;
        }
    }

}