.toggle{
    border-bottom: 3px solid #F8F8F8;
    border-top: 3px solid #F8F8F8;
    position: relative;
    z-index: 100;
    &__hero{
        width: 100%;
        display: flex;
        position: fixed;
        top: 0;
        justify-content: start;
        transform: translateX(-100%);
        transition: 0.3s ease-in-out;
    }
    &__hero--active{
        width: 100%;
        display: flex;
        position: fixed;
        top: 0;
        transform: translateX(0);
        transition: 0.3s ease-in-out;
    }
    &__left{
        width: 30%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: #F8F8F8;
        &--top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px;
        }
        &--close{
            font-size: 30px;
            border: 1px solid black;
            padding: 5px 10px;
            border-radius: 50%;
            transform: translateX(-100%);
            &:hover{
                color: gray;
                border: 1px solid gray;
            }
        }
        &--icon{
            padding: 10px;
            margin: 20px;
            font-size: 25px;
            color: black;
            border: 1px solid black;
            border-radius: 50%;
            &:hover{
                color: gray;
                border: 1px solid gray;
            }
        }
    }
    &__right{
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        z-index: 10;
        background-color:  rgba(0,0,0,.5);
    }
    &__list{
        padding: 0 30px;
    }
    &__item{
        padding: 10px 0;
        &--links{
            font-size: 20px;
            line-height: 0;
            color: black;
            &:hover{
                color: gray;
                opacity: 0.8;  
            }
        }
    }
}